@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #000000;
    --background: #e5fcff;
    --primary: #d96f12;
    --secondary: #d2eaef;
    --accent: #00c3ff;
    --accent-alternative: #068198;
    background-image: url(/assets/images/bg_light_desktop.webp);
    background-size: cover;
  }
  .dark {
    --text: #ffffff;
    --background: #00171a;
    --primary: #ed8326;
    --secondary: #10282d;
    --accent: #00c3ff;
    --accent-alternative: #00C2FF;
    background-image: url(/assets/images/bg_dark_desktop.webp);
    background-size: cover;
  }

  @media (max-width: 768px) {
    :root {
      background-image: url(/assets/images/bg_light_mobile.jpg);
    }
    .dark {
      background-image: url(/assets/images/bg_dark_mobile.jpg);
    }    
  }
}